:local(.styles) {

  .message-ticker-message {
    position: relative;
    width: 100%;
    height: 32px;
    overflow: hidden;
  }

  .message-ticker-user {
    position: relative;
    width: 100%;
    height: 32px;
    overflow: hidden;
  }

  .ticker-message {
    position: absolute;
    left: 0;
    top: 0;
    width: 500%;
  }

  .emoticon {
    width: 22px;
  }

  .ticker-user {
    position: absolute;
    left: 0;
    top: 0;
    width: 500%;
  }

  .ticker-user .fade-enter {
    transition: opacity 0.2s;
    opacity: 0;
  }

  .ticker-user .fade-enter-active {
    opacity: 1;
  }

  .ticker-user .fade-leave {
    opacity: 1;
  }

  .ticker-user .fade-leave-active {
    opacity: 1;
  }

  .ticker-message .carousel-enter {
    transition: transform 0.3s;
    transform: translateX(1000px);
  }

  .ticker-message .carousel-enter-active {
    transform: translateX(0);
  }

  .ticker-message .carousel-leave {
    transition: transform 0.2s;
    transform: translateX(0);
  }

  .ticker-message .carousel-leave-active {
    transform: translateX(-600px);
  }
}
