:local(.styles) {
  $bg-color: rgba(255,255,255,0.2);
  $shadow: rgba(0,0,0,0.6);

  margin: 0 15px;

  .graph-main {
    background-color: $bg-color;
    border-radius: 0 0 3px 3px;
    box-shadow: 1px 1px 3px $shadow;
  }
}
