:local(.styles) {
  $bg-color: rgba(255,255,255,0.2);
  $shadow: rgba(0,0,0,0.6);

  position: relative;

  .logo-holder {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  .hatson {
    position: absolute;
    top: 0;
    left: 44;
  }

  @media only screen and (min-width : 768px) {
    .logo h1 {
      font-size: 2.2em;
    }
    .drawer-overlay {
      top: 74px;
    }

    .drawer {
      top: 75px;
    }
  }

}
