/* global styles */

@import 'fonts/fonts';
@import 'typography';
@import 'links';

:global(body) {
  position: relative;

  img {
    width: 100%;
  }

  main {
    padding-bottom: 140px;
  }

  @media only screen and (min-width : 768px) {
    main {
      padding-top: 74px;
    }
  }
}
