:local(.styles) {
  margin: 94px 0 30px 0;

  @media (min-width : 768px) {
    margin: 30px 0;
  }

  .intro {
    border-bottom: 2px solid #ddd;
    margin: 0px;
    padding-bottom: 15px;
    font-size: 17px !important;
    font-weight: bolder;
  }

  .tone {
    padding: 15px;
  }

  .msg-data {
    padding-top: 15px;
    border-radius: 3px;
    margin-bottom: 30px;
  }


  .msg-chart {
    padding: 15px;
    min-height: 90px;
  }

  .separate {
    border-bottom: 2px solid #ddd;
  }

  .ref-link {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .closing-copy {
    margin-top: 15px;
  }

}
