:local(.styles) {

  .splotch-holder {
    position: relative;
  }

  .color-splotch {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform: scale(0.15);
  }

  #anger-splotch {
    background-color: #FF3F39;
  }
  #sadness-splotch {
    background-color: #2B56B2;
  }
  #disgust-splotch {
    background-color: #AC35B2;
  }
  #fear-splotch {
    background-color: #4ACC68;
  }
  #joy-splotch {
    background-color: #FFF348;
  }

  .splotch-label {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .line-graph-container {
    position: relative;
    margin-bottom: 20px;
  }

  .line-graph-container path {
    stroke-width: 0.6;
  }

  #line-container path.stroke-outline {
    stroke-width: 1.2;
  }

  #line-container path {
    stroke-width: 0.5;
    stroke-linecap: round;
  }

  .x-axis-label {
    position: absolute;
    font-size: 0.8em;
    top: 100%;
  }

  .x-axis-label.start {
    left: 0;
    text-align: center;
    transform-origin: 100% 50%;
    transform: rotate(-90deg) translateY(-18%) translateX(25px);
  }

  .x-axis-label.end {
    right: 0;
    text-align: center;
    transform-origin: 100% 50%;
    transform: rotate(-90deg) translateY(-134%) translateX(15px);
  }
}