:local(.styles) {

  $bg-color: rgba(255,255,255,0.2);

  .graph-tab-holder {
    position: relative;
  }
  .graph-tab-holder:first-of-type {
    padding-left: 0;
  }

  .graph-tab-holder:last-of-type {
    padding-right: 0;
  }

  .graph-tab {
    display: inline-block;
    padding: 15px;
    margin: 0;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
  }

  .graph-tab.tab-active {
    background-color: $bg-color;
    cursor: default;
  }

  .graph-key {
    position: relative;
    background-color: $bg-color;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    margin: 0 -15px;
    padding: 0 30px;
  }

  .splotch-row {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .splotch-row:last-of-type {
    position: absolute;
    top: 0;
    left: 30px;
    right: 30px;
  }

  .splotch-row.splotch-row-active {
    opacity: 1;
  }

  .splotch-holder {
    position: relative;
  }

  .color-splotch {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform: scale(0.15);
    border: 5px solid transparent;
    transition: border 0.3s;
  }

  .dom-emo-anger #anger-splotch,
  .dom-emo-sadness #sadness-splotch,
  .dom-emo-disgust #disgust-splotch,
  .dom-emo-fear #fear-splotch,
  .dom-emo-joy #joy-splotch {
    border: 5px solid #000;
  }

  .dom-soc-openness #openness-splotch,
  .dom-soc-conscientiousness #conscientiousness-splotch,
  .dom-soc-extraversion #extraversion-splotch,
  .dom-soc-agreeableness #agreeableness-splotch,
  .dom-soc-neuroticism #neuroticism-splotch {
    border: 5px solid #000;
  }

  #anger-splotch,
  #openness-splotch {
    background-color: #FF3F39;
  }
  #sadness-splotch,
  #conscientiousness-splotch {
    background-color: #2B56B2;
  }
  #disgust-splotch,
  #extraversion-splotch {
    background-color: #AC35B2;
  }
  #fear-splotch,
  #agreeableness-splotch {
    background-color: #4ACC68;
  }
  #joy-splotch,
  #neuroticism-splotch {
    background-color: #FFF348;
  }

  .splotch-label {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .graph-row {
    background-color: $bg-color;
    border-radius: 0 0 5px 5px;
  }

  .graph-explanation {
    display: block;
    position: absolute;
    bottom: 100%;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .graph-explanation.visible {
    opacity: 1;
  }

  .line-graph-container {
    position: relative;
    margin: 25px 0 40px;
  }

  .graph-bg {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .graph-bg.bg-active {
    opacity: 1;
  }

  .line-graph-container path {
    stroke-width: 0.6;
  }

  .graph-lines {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .graph-lines.lines-active {
    opacity: 1;
  }

  path.reference-line {
    stroke: #666;
    stroke-width: 0.4;
    stroke-dasharray: 3 5;
    stroke-linecap: round;
  }

  .ref-box {
    fill-opacity: 0;
    transition: all 0.3s;
  }

  .ref-box.visible {
    fill-opacity: 0.4;
  }

  #line-container path.stroke-outline {
    stroke-width: 1.2;
  }

  #line-container path {
    stroke-width: 0.5;
    stroke-linecap: round;
  }

  path#reference-line-top,
  path#reference-line-btm {
    stroke-width: 6;
  }

  .x-axis-label {
    position: absolute;
    font-size: 0.8em;
    top: 100%;
  }

  .x-axis-label.start {
    left: 0;
    text-align: center;
    transform-origin: 100% 50%;
    transform: rotate(-90deg) translateY(-18%) translateX(25px);
  }

  .x-axis-label.end {
    right: 0;
    text-align: center;
    transform-origin: 100% 50%;
    transform: rotate(-90deg) translateY(-134%) translateX(15px);
  }
}