:local(.styles) {

  $bg-color: rgba(255,255,255,0.2);
  $shadow: rgba(0,0,0,0.6);

  margin: 0 15px;

  .graph-main {
    background-color: $bg-color;
    border-radius: 0 0 3px 3px;
    box-shadow: 1px 1px 3px $shadow;
  }


  // .line-graph-container {
  //   position: relative;
  //   padding: 0 30px;
  //   margin: 50px 0 50px;
  // }
  
  // .graph-explanation {
  //   display: block;
  //   position: absolute;
  //   bottom: 100%;
  //   opacity: 0;
  //   transition: opacity 0.3s;
  // }

  // .graph-explanation.visible {
  //   opacity: 1;
  // }


  // .loader {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: -1;
  //   display: none;
  // }

  // .loader.loader-active {
  //   display: block;
  // }

  // .loader-msg {
  //   position: absolute;
  //   font-size: 1.4em;
  //   top: 0;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }

  // @media only screen and (min-width : 480px) {
  //   .line-graph-container {
  //     margin: 25px 0 50px;
  //   }
  // }

  // svg {
  //   box-shadow: 0 1px 2px $shadow;
  //   height: 200px;
  // }


  // .graph-bg {
  //   opacity: 0;
  //   transition: opacity 0.3s;
  // }

  // .graph-bg.bg-active {
  //   opacity: 1;
  // }

  // .line-graph-container path {
  //   stroke-width: 0.6;
  // }

  // .graph-lines {
  //   opacity: 0;
  //   transition: opacity 0.3s;
  // }

  // .graph-lines.lines-active {
  //   opacity: 1;
  // }

  // .graph-refs {
  //   display: none;
  // }

  // .graph-refs.refs-active {
  //   display: block;
  // }

  // path.reference-line {
  //   stroke: #666;
  //   stroke-width: 0.6;
  //   stroke-dasharray: 2 3.71;
  //   stroke-dashoffset: 1;
  //   stroke-linecap: round;
  // }

  // .ref-box {
  //   fill-opacity: 0;
  //   transition: all 0.3s;
  // }

  // .ref-box.visible {
  //   fill-opacity: 0.4;
  // }

  // #line-container path.stroke-outline {
  //   stroke-width: 1.8;
  // }

  // #line-container path {
  //   stroke-width: 1.2;
  //   stroke-linecap: round;
  // }

  // @media only screen and (min-width : 480px) {
  //   svg {
  //     height: 300px;
  //   }
  //   #line-container path.stroke-outline {
  //     stroke-width: 1.4;
  //   }
  //   #line-container path {
  //     stroke-width: 0.8;
  //   }
  // }
  // @media only screen and (min-width : 768px) {
  //   svg {
  //     height: 400px;
  //   }
  //   #line-container path.stroke-outline {
  //     stroke-width: 1.2;
  //   }
  //   #line-container path {
  //     stroke-width: 0.5;
  //   }
  // }

  // path.reference-line-trigger {
  //   stroke-width: 6;
  // }

  // .x-axis-label {
  //   position: absolute;
  //   font-size: 0.8em;
  //   margin-top: 3px;
  //   top: 100%;
  // }

  // .x-axis-label.start {
  //   left: 30px;
  // }

  // .x-axis-label.end {
  //   right: 30px;
  // }
}