:local(.styles) {

  $shadow: rgba(0,0,0,0.6);
  $bg-color: rgba(255,255,255,0.2);

  margin: 30px -15px 0 -15px;

  .channel-data {
    border-radius: 3px;
    padding-bottom: 1px;
    margin-bottom: 30px;
    background-color: $bg-color;
    box-shadow: 1px 1px 3px $shadow;
  }

  .channel-data h2,
  .channel-data h4 {
    margin: 0;
    padding: 15px;
    border-bottom: 2px solid #ddd;
  }

  .channel-data h4 {
    font-size: 14px;
  }

  .chart-container {
    position: relative;
    margin: 25px 30px 115px 30px;
  }

  .chart-msg {
    position: absolute;
    bottom: 100%;
  }

  svg {
    width: 100%;
    height: 200px;
    box-shadow: 0 1px 2px $shadow;
  }

  .chart-bar {
    opacity: 0;
  }

  .chart-bar:hover {
    fill-opacity: 0.6;
  }

  .label {
    position: absolute;
    font-size: 85%;
    font-weight: normal;
    top: 100%;
    text-align: right;
    color: #333;
    transform-origin: 100% 50%;
    transform: rotate(-50deg);
  }

  .chart-container.active .label.active {
    font-weight: bold;
  }

  .label-anger {
    right: 92%;
  }
  .label-sadness {
    right: 84%;
  }
  .label-disgust {
    right: 76%;
  }
  .label-fear {
    right: 68%;
  }
  .label-joy {
    right: 60%;
  }
  .label-openness {
    right: 40%;
  }
  .label-conscientiousness {
    right: 32%;
  }
  .label-extraversion {
    right: 24%;
  }
  .label-agreeableness {
    right: 16%;
  }
  .label-neuroticism {
    right: 8%;
  }

  @media only screen and (min-width : 992px) {
    .channel-data h4 {
      font-size: 18px;
    }
  }

}