:local(.styles) {
  $bg-color: rgba(255,255,255,0.2);
  $shadow: rgba(0,0,0,0.6);

  position: relative;

  .burger-holder {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
  }


  .burger {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    // transform: translateY(-50%);
    cursor: pointer;
  }

  .burger-line {
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
  }

  .drawer-overlay {
    position: fixed;
    width: 100%;
    top: 62px;
    left: -9999px;
    height: 100%;
    background-color: rgba(0,0,0,0);
    z-index: 1;
  }

  .drawer-overlay.drawer-open {
    left: 0;
  }

  .drawer {
    position: fixed;
    overflow-y: scroll;
    right: 0;
    top: 63px;
    bottom: 0;
    background-color: #bbb;
    transform: translateX(101%);
    padding: 15px 0;
    box-shadow: -2px 0 4px $shadow;
    z-index: 1;
  }

  .about-link {
    text-align: center;
    margin: 0 0 15px 0;
  }

  .channel-list-header {
    padding: 15px 30px;
    text-align: center;
    margin: 0;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
    a {
      text-decoration: none;
    }
  }

  .drawer-link {
    display: block;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.05em;
    color: #333;
    font-weight: bold;
    padding: 10px;
    margin: 15px 30px;
    background-color: #bbb;
    border-radius: 3px;
    box-shadow: 1px 1px 3px $shadow inset;
    transition: color 0.2s, background-color 0.2s;
  }

  .drawer-link:hover {
    background-color: #555;
    color: #fff;
  }

  .drawer-link.drawer-link-active {
    background-color: $bg-color;
    box-shadow: 1px 1px 3px $shadow;
    color: inherit;
    cursor: default;
  }

  @media only screen and (min-width : 768px) {
    .logo h1 {
      font-size: 2.2em;
    }
    .drawer-overlay {
      top: 74px;
    }

    .drawer {
      top: 75px;
    }
  }

}
