:local(.styles) {

  $shadow: rgba(0,0,0,0.6);

  z-index: 2;
  height: 120px;
  width: 100%;
  padding: 20px 0;
  opacity: 1;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 1px 3px $shadow;

  .logo {
    color: #fff;
    text-decoration: none;
  }

  .logo h1 {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 2.2em;
  }

  .btn-group {
    margin-top: 1em;
  }

  @media only screen and (min-width : 768px) {
    position: fixed;
    height: 74px;

    .channel-dropdown-container {
      text-align: right;
    }

    .btn-group {
      margin-top: 0;
    }
  }
}
