:local(.styles) {
  $shadow: rgba(0,0,0,0.6);

  .footer-tooltips,
  footer {
    position: fixed;
    width: 100%;
    left: 0;
    text-align: center;
  }

  .footer-tooltips {
    z-index: 2;
    height: 0;
    bottom: 120px;
  }

  .footer-tooltips .col-xs-4 {
    position: relative;
  }

  .footer-tooltip {
    position: absolute;
    width: 100%;
    left: -9999px;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    color: #fff;
    box-shadow: 1px 1px 2px $shadow;
  }

  .footer-tooltip.active {
    left: 0;
  }

  .footer-tooltip:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top: 8px solid rgba(0, 0, 0, 0.8);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }

  .footer-tooltips .col-xs-4 .footer-tooltip {
    bottom: -30px;
  }

  .footer-tooltips .col-xs-4:first-of-type .footer-tooltip,
  .footer-tooltips .col-xs-4:last-of-type .footer-tooltip {
    bottom: 0;
  }

  footer {
    height: 120px;
    bottom: 0;
    z-index: -1;
    background: rgba(0,0,0,0.8);
  }

  .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .footer-icon {
    width: 60px;
  }

  .col-xs-4:nth-of-type(2) {
    a {
      position: relative;
      top: 20px;
    }
  }

  @media only screen and (min-width : 480px) {
    .footer-tooltips {
      bottom: 160px;
    }

    footer {
      height: 160px;
    }

    .footer-icon {
      width: 120px;
    }

    .col-xs-4:nth-of-type(2) {
      a {
        position: relative;
        top: 40px;
      }
    }
  }
}
