:local(.styles) {

  $bg-color: rgba(255,255,255,0.2);
  $shadow: rgba(0,0,0,0.6);

  margin: 30px 0 0 0;
  @media only screen and (min-width : 768px) {
    margin: 30px -15px 0 -15px;
  }

  .msg-data {
    padding: 0;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: $bg-color;
    box-shadow: 1px 1px 3px $shadow;
  }

  .msg-data h5 {
    border-bottom: 2px solid #ddd;
    margin: 0;
    padding: 15px;
  }

  .msg-chart {
    padding: 15px;
    min-height: 90px;
  }

}